@{
    Layout = "";
}
<H2>Register your channel for Task Notification</H2>
<p>
    Click the button to call the "register" endpoint in the sample app, which will register the connector for the selected channel.
</p>
<a href="https://outlook.office.com/connectors/Connect?state=@(TeamsToDoApp.Utils.AppSettings.BaseUrl)/student/create&app_id=@(TeamsToDoApp.Utils.AppSettings.ConnectorAppId)&callback_url=@(TeamsToDoApp.Utils.AppSettings.BaseUrl)/connector/register">
    <img src="../../images/color_icon.png" alt="Register The Channel" />
</a>




